body, html {
	background: #cccccc;
}

.age { 
	font-size: 12px;
	font-style: italic;
}

category {
	font-size: 12px;
}

h2.name {
	font-size: 16px;
	font-weight: bold;
}

.filter__wrap {
	display: inline-block;
	margin-right: 1rem;
}

.hidden { display: none; }

.user-card {
	border: 2px solid #000000;
	flex: 0 0 30%;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	&[priority="1"]{ background-color: orange; }
	&[priority="2"]{ background-color: green; }
	&[priority="3"]{ background-color: blue; }
	&[priority="1"]{ background-color: purple; }
}

.user-grid {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	&__controls { margin-bottom: 2rem; }
	&__filter { margin-top: 1rem; }
	&__wrap {
		background: #ffffff;
		margin: 0 auto;
		padding: 2rem;
		max-width: 900px;
	}
}